{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1 class="display-4"><a href="{{ path('index') }}">Image Uploader</a></h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <img class="card-img-top" src="{{ asset('uploads/images/')  }}{{ image.filename }}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ image.title }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
